[Unit]
Description=Three month renewal of Let's Encrypt's certificates/Checks hourly for renewal

[Timer]
OnCalendar= *-*-* *:00:00
Persistent=true

[Install]
WantedBy=timers.target
